<div class="layout-title">
    Conversão para YMF
</div>
<div class="layout-conteiner">
    <div class="steps-conteiner">
        <div class="step" [ngClass]="{'active': step == 1}" (click)="goToStep(1)">
            <div class="icon">
                <i class="fa fa-cubes" aria-hidden="true"></i>
            </div>
            <div class="step-text-conteiner">
                <div class="title">
                    Tipo de Arquivo
                </div>
                <div class="text">
                    Selecione o tipo do arquivo que deseja converter
                </div>

                <div class="text">
                    Tipo selecionado: <b> {{selectedType}} </b>
                </div>

            </div>
        </div>

        <div class="step" [ngClass]="{'disabled': 2 > step, 'active': step == 2}" (click)="goToStep(2)">
            <div class="icon">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
            <div class="step-text-conteiner">
                <div class="title">
                    Importação de Arquivo
                </div>
                <div class="text">
                    Selecione o arquivo que deseja converter para YMF.
                </div>
                <div class="text">
                    Arquivo selecionado: <b> {{fileName}} </b>
                </div>
            </div>
        </div>

        <div class="step" [ngClass]="{'disabled': 3 > step, 'active': step == 3}"  (click)="goToStep(3)">
            <div class="icon">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </div>
            <div class="step-text-conteiner">
                <div class="title">
                    Pré-visualização
                </div>
                <div class="text">
                    Visualize uma prévia do arquivo importado.
                </div>
            </div>
        </div>

        <div class="step" [ngClass]="{'disabled': 4 > step,  'active': step == 4}" >
            <div class="icon">
                <i class="fa fa-download" aria-hidden="true"></i>
            </div>
            <div class="step-text-conteiner">
                <div class="title">
                    Download
                </div>
                <div class="text">
                    Faça o download do arquivo.
                </div>
            </div>
        </div>
    </div>

    @if(step == 1){
    <div class="step-one">
        <div class="radio-group">
            @for (importType of importTypes; track importType) {
            <div class="radio-card" (click)="setType(importType)"
                [ngClass]="{'selected': (importType.type == selectedType), 'disabled': importType.disabled}">
                <div class="radio-card-info">
                    <img [src]="importType.img">
                    <div class="infos">
                        <div class="title">
                            {{importType.type}}
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    }
    @if(step == 2){
    <div class="step-two">


        <label class="file-send" for="fileToConvert"> <i class="fa fa-cloud-upload" aria-hidden="true"></i> Enviar
            Arquivo XLSX</label>
        <input type="file" name="fileToConvert" id="fileToConvert" hidden (change)="selectFile($event)">
        @if(fileName != ''){
        <label class="file-sended">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <div>
                {{fileName}}
                <br>
                {{fileSize | number : '1.2-2'}} kb
            </div>
        </label>
        }


    </div>
    }
    @if(step == 3){
    <div class="step-three">
        <div class="container">
            <table class="table" *ngIf="users?.length>0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile No</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of users">
                        <td>{{u.Id}}</td>
                        <td>{{u.Name}}</td>
                        <td>{{u.Email}}</td>
                        <td>{{u.Mobile}}</td>
                        <td>{{u.State}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    }

    @if(step == 4){
    <div class="step-two">

        Pronto!
        <br>
        Seu arquivo já está disponivel para download.
        <br>
        <br>
        <br>

        <button mat-flat-button color="primary">
            Download
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
    </div>
    }

    <div class="step-controler-conteiner">
        <div>
            @if(step != 1){
            <button mat-flat-button color="primary" (click)="backStep()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Passo Anterior
            </button>
            }
        </div>
        <div class="step-controler">
            @if(!stepLoading){
            <div class="step-line">

                @if(step == 1){
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                }
                @if(step > 1){
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                }
                <div class="line" [ngClass]="{'disabled': 2 > step}"></div>

                @if(2 > step){ <i class="fa fa-circle disabled" aria-hidden="true"></i>
                }
                @if(step == 2){
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                }
                @if(step > 2){
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                }

                <div class="line" [ngClass]="{'disabled': 3 > step}"></div>

                @if(3 > step){ <i class="fa fa-circle disabled" aria-hidden="true"></i>
                }
                @if(step == 3){
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                }
                @if(step > 3){
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                }

                <div class="line" [ngClass]="{'disabled': 4 > step}"></div>

                @if(4 > step){ <i class="fa fa-circle disabled" aria-hidden="true"></i>
                }
                @if(step == 4){
                <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                }
                @if(step > 4){
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                }
            </div>
            }
        </div>

        <div>
            @if(step != 4){
            <button mat-flat-button color="primary" (click)="nextStep()">
                Próximo Passo
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            }
        </div>
    </div>


</div>