.conteiner-route {
    width: calc(96vw - 40px);
    background: white;
    border-radius: 15px;
    padding: 20px;
    top: 70px;
    position: fixed;
    max-width: 1300px;
    transform: translateX(-50%);
    left: 50vw;
    height: calc(100vh - 120px);
}
