.conteiner-route {
    width: calc(96vw - 40px);
    margin-top: 20px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    top: 70px;
    position: fixed;
    max-height: calc(100vh - 230px);
    max-width: 1300px;
    transform: translateX(-50%);
    left: 50vw;
    overflow: auto;
}